<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- applicationContext.xml -->

	<!-- 
	<bean id="dataSource" class="org.apache.tomcat.dbcp.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://203.236.209.221:3306/mydb?serverTimezone=UTC"/>
		<property name="username" value="scott"/>
		<property name="password" value="tiger"/>
	</bean>
	 -->
	<bean id="dataSource" 
		class="org.apache.tomcat.dbcp.dbcp.BasicDataSource"
		p:driverClassName="com.mysql.cj.jdbc.Driver"
		p:url="jdbc:mysql://203.236.209.221:3306/mydb?serverTimezone=UTC"
		p:username="scott" p:password="tiger"
	/> 
	<!--  
	<bean id="guestDao" class="com.bit.spring06.model.GuestDao01Imf">
		<property name="dataSource" ref="dataSource" />
	</bean>
	 -->
	<!--  
	<bean id="guestDao" class="com.bit.spring06.model.GuestDao02Imf">
		<constructor-arg ref="dataSource"/>
	</bean>
	 -->
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<bean id="guestDao" class="com.bit.spring06.model.GuestDao03Imf"
		p:template-ref="jdbcTemplate"
	/>
	
	

</beans>
