/**/
container{
    width: 100%;
}
/*grid1~grid12*/
.grid1,.grid2,.grid3,.grid4,.grid5,.grid6,
.grid7,.grid8,.grid9,.grid10,.grid11,.grid12{
    float: left;
    margin: 0px;
    padding: 0px;
}
/* 1:80,12:960px */
/* 1:85,12:1020px */
.grid1{width: 8.3333%;}
.grid2{width: 16.6666%;}
.grid3{width: 25%;}
.grid4{width: 33.3333%;}
.grid5{width: 41.6666%;}
.grid6{width: 50%;}
.grid7{width: 58.3333%;}
.grid8{width: 66.6666%;}
.grid9{width: 75%;}
.grid10{width: 833333%;}
.grid11{width: 91.6666%;}
.grid12{width: 100%;}
.row{
    clear: both;
    overflow: hidden;
}
