
.button{
        width:80px;
        height:30px;
        border:2px solid lightgray;
        background-color: white;
        float:left;
        text-align:center;
        cursor:pointer;
        position:relative;
        box-sizing:border-box;
        overflow:hidden;
        margin:0 0 40px 50px;
    }
    
.button:hover {
    background-color: lightgray;
    color: black;
    font-weight: bold;
    }